---
- name: Deploy NodeJS-App
  kubernetes.core.k8s:
    apply: true
    state: present
    definition:
      apiVersion: v1
      kind: Deployment
      metadata:
        name: "sample-app-nodejs"
        namespace: default
        labels:
          app: sample-app-nodejs
      spec:
        selector:
          matchLabels:
            app: sample-app-nodejs
        replicas: 1
        strategy:
          type: RollingUpdate
        template:
          metadata:
            labels:
              app: sample-app-nodejs
          spec:
            containers:
              - name: sample-app-nodejs
                image: menhkte.jfrog.io/default-docker/nodejs-sample-app:latest
                imagePullPolicy: IfNotPresent
                imagePullSecrets:
                  - name: docker-credentials
                ports:
                  - containerPort: 8080

- name: Deploy NodeJS Service
  kubernetes.core.k8s_service:
    state: present
    apply: true
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: sample-app-nodejs-svc
        namespace: default
        labels:
          app: sample-app-nodejs
      spec:
        selector:
          app: sample-app-nodejs
        ports:
        - protocol: TCP
          targetPort: 8080
          port: 8080